{% extends "base.html" %}
{% load static %}
{% load account_forms %}
{% block title %}
  - Home
{% endblock title %}
{% block content %}
  <div id="map-background"
       class="container-fluid position-fixed"
       style="background-image: url({% static 'iaru_map.svg' %})">
  </div>
  <div class="container">
    <div class="row my-5">
      <div class="col-12 col-lg-8 mx-auto d-flex">
        <img alt="Logo"
             height="140px"
             width="70px"
             class="d-none d-md-block"
             src="{% static 'iaru_logo.png' %}"/>
        <div class="d-flex flex-column justify-content-center ms-md-4 px-3">
          <h1>The International Amateur Radio Union</h1>
          <p class="m-0">
            Since 1925, the Federation of National Amateur Radio Societies
            <br/>
            Representing the Interests of Two-Way Amateur Radio Communication
          </p>
        </div>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12 col-lg-8 mx-auto d-flex">
        <div class="row w-100 mx-auto">
          <div class="mb-3 mb-md-0 col-12 col-md-6 d-flex flex-column justify-content-between">
            <div class="d-flex bg-white border rounded-2 px-3 py-2 mb-3 ">
              <span class="h-100 fs-3 mb-0 me-3">></span>
              <a href="{% url 'coordination-list' %}#pending" class="m-0">
                Satellites which have formally requested
                Frequency Coordination (<b><i>in process</i></b>)
              </a>
            </div>
            <div class="d-flex bg-white border rounded-2 px-3 py-2 mb-3 ">
              <span class="h-100 fs-3 mb-0 me-3">></span>
              <a href="{% url 'coordination-list' %}#accepted" class="m-0">
                Satellites for which frequencies have been <b><i>coordinated</i></b>.
              </a>
            </div>
            <div class="d-flex bg-white border rounded-2 px-3 py-2">
              <span class="h-100 fs-3 mb-0 me-3">></span>
              <a href="{% url 'coordination-list' %}#declined" class="m-0">
                Satellites for which Frequency Coordination has been <b><i>declined</i></b>
              </a>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="card">
              <div class="card-body px-5 py-4">
                {% if user.is_authenticated %}
                  <h3 class="card-title text-center mt-1 mb-4 fw-normal">Welcome, {{ user.callsign }}</h3>
                  <div class="d-flex bg-white border rounded-2 px-3 py-3 mb-3 mx-n4">
                    <a href="{% url 'overview' %}"
                       class="d-flex align-items-center m-0 w-fit-content"><i class="align-middle me-3">
                      <svg xmlns="http://www.w3.org/2000/svg"
                           width="25"
                           height="25"
                           fill="currentColor"
                           class="bi bi-card-list"
                           viewBox="0 0 16 16">
                        <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                        <path d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8zm0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zM4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"/>
                      </svg>
                    </i>Overview</a>
                  </div>
                  <div class="d-flex bg-white border rounded-2 px-3 py-3 mb-3 mx-n4">
                    <a href="{% url 'coordination-new' %}"
                       class="d-flex align-items-center m-0 w-fit-content"><i class="align-middle me-3">
                      <svg xmlns="http://www.w3.org/2000/svg"
                           width="25"
                           height="25"
                           fill="currentColor"
                           class="bi bi-plus-circle"
                           viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                      </svg>
                    </i>Create New Application</a>
                  </div>
                {% else %}
                  <h3 class="card-title text-center mt-1 mb-3 fw-normal">Log In</h3>
                  <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    {% login_form %}
                    <button class="mt-3 mb-2 w-100 btn btn-primary" type="submit">Log in</button>
                  </form>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
