{% if form.non_field_errors %}
  <div class="alert alert-danger form-errors" role="alert">{{ form.non_field_errors }}</div>
{% endif %}
{% if form.callsign.errors or form.email.errors %}
  <div class="row my-2 g-0">
    <div class="col-12 col-lg-6 alert-danger field-errors">{{ form.callsign.errors }}</div>
    <div class="col-12 col-lg-6 alert-danger field-errors">{{ form.email.errors }}</div>
  </div>
{% endif %}
<div class="row my-2 g-0">
  <div class="form-floating col-12 col-lg-6 mb-2 mb-lg-0 me-lg-1">
    <input type="text"
           class="form-control rounded form-field-small-height"
           id="{{ form.callsign.id_for_label }}"
           name="{{ form.callsign.name }}"
           placeholder="Callsign"
           maxlength="{{ form.callsign.field.max_length }}"
           {% if form.callsign.value != None %} value="{{ form.callsign.value|stringformat:'s' }}"{% endif %}
           required/>
    <label class="text-muted" for="{{ form.callsign.id_for_label }}">Callsign</label>
  </div>
  <div class="form-floating col ms-lg-1">
    <input type="email"
           class="form-control rounded form-field-small-height"
           id="{{ form.email.id_for_label }}"
           name="{{ form.email.name }}"
           placeholder="person@example.com"
           maxlength="{{ form.email.field.max_length }}"
           {% if form.email.value != None %} value="{{ form.email.value|stringformat:'s' }}"{% endif %}
           required/>
    <label class="text-muted" for="{{ form.email.id_for_label }}">Email Address</label>
  </div>
</div>
{% if form.first_name.errors or form.last_name.errors %}
  <div class="row my-2 g-0">
    <div class="col-12 col-lg-6 alert-danger field-errors">{{ form.first_name.errors }}</div>
    <div class="col-12 col-lg-6 alert-danger field-errors">{{ form.last_name.errors }}</div>
  </div>
{% endif %}
<div class="row my-2 g-0">
  <div class="form-floating col-12 mb-2 mb-lg-0 col-lg-6 me-lg-1">
    <input type="text"
           class="form-control rounded form-field-small-height"
           id="{{ form.first_name.id_for_label }}"
           name="{{ form.first_name.name }}"
           placeholder="First Name"
           maxlength="{{ form.first_name.field.max_length }}"
           {% if form.first_name.value != None %} value="{{ form.first_name.value|stringformat:'s' }}"{% endif %}
           required/>
    <label class="text-muted" for="{{ form.first_name.id_for_label }}">First Name</label>
  </div>
  <div class="form-floating col ms-lg-1">
    <input type="text"
           class="form-control rounded form-field-small-height"
           id="{{ form.last_name.id_for_label }}"
           name="{{ form.last_name.name }}"
           placeholder="Last Name"
           maxlength="{{ form.last_name.field.max_length }}"
           {% if form.last_name.value != None %} value="{{ form.last_name.value|stringformat:'s' }}"{% endif %}
           required/>
    <label class="text-muted" for="{{ form.last_name.id_for_label }}">Last Name</label>
  </div>
</div>
{% if form.password1.errors or form.password2.errors %}
  <div class="row my-2 g-0">
    <div class="col-12 col-lg-6 alert-danger field-errors">{{ form.password1.errors }}</div>
    <div class="col-12 col-lg-6 alert-danger field-errors">{{ form.password2.errors }}</div>
  </div>
{% endif %}
<div class="row my-2 g-0">
  <div class="form-floating col-12 mb-2 mb-lg-0 col-lg-6 me-lg-1">
    <input type="password"
           class="form-control rounded form-field-small-height"
           id="{{ form.password1.id_for_label }}"
           name="{{ form.password1.name }}"
           placeholder="Password"
           autocomplete="new-password"
           {% if form.password1.value != None %} value="{{ form.password1.value|stringformat:'s' }}"{% endif %}
           required/>
    <label class="text-muted" for="{{ form.password1.id_for_label }}">Password</label>
  </div>
  <div class="form-floating col ms-lg-1">
    <input type="password"
           class="form-control rounded form-field-small-height"
           id="{{ form.password2.id_for_label }}"
           name="{{ form.password2.name }}"
           placeholder="Repeat Password"
           autocomplete="new-password"
           required/>
    <label class="text-muted" for="{{ form.password2.id_for_label }}">Repeat Password</label>
  </div>
</div>
<button class="mt-3 w-100 btn btn-primary" type="submit">Register</button>
