{% extends "coordinations/coordinations_form_base.html" %}
{% block title %}
  - New Coordination
{% endblock title %}
{% block form_header %}
  New Coordination
{% endblock form_header %}
{% block form_action %}
  action="{% url 'coordination-new' %}"
{% endblock form_action %}
{% block beams %}
  <div id="beam-forms-container" class="d-flex flex-column-reverse">
    {% for form in beam_formset %}
      {% include "./forms/beam_form.html" with form=form loop_idx=forloop.counter0 %}
    {% endfor %}
    {% if beam_formset.non_field_errors %}
      <div class="alert alert-danger form-errors" role="alert">{{ beam_formset.non_field_errors }}</div>
    {% endif %}
  </div>
{% endblock beams %}
