{% extends "base.html" %}
{% load static %}
{% load compress %}
{% block content %}
  <div class="container my-5 full-page-container-lg">
    <div class="card m-auto">
      <div class="card-body px-5 py-4">
        <h1 class="h3 card-title text-center mt-1 mb-3 fw-normal">
          {% block form_header %}
          {% endblock form_header %}
        </h1>
        <form id="new-coord-form"
              {% block form_action %}
              {% endblock form_action %}
              method="post"
              enctype="multipart/form-data">
          {% csrf_token %}
          {{ coord_form }}
          {% if rev_form.file.errors %}<div class="alert-danger field-errors">{{ rev_form.file.errors }}</div>{% endif %}
          <div class="mb-3">
            <label class="text-muted form-label" for="{{ rev_form.file.id_for_label }}">Application Document</label>
            <input type="file"
                   class="form-control"
                   id="{{ rev_form.file.id_for_label }}"
                   name="{{ rev_form.file.name }}"
                   {% if rev_form.file.field.required %} required{% endif %}/>
          </div>
          <hr class="my-4"/>
          <h2 class="h4 card-title text-center mt-1 mb-4 fw-normal"></h2>
          <button id="add-beam-button" type="button" class="mb-4 mx-auto btn d-block">
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="25"
                 height="25"
                 fill="currentColor"
                 class="bi bi-plus-circle"
                 viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
            </svg>
            <span class="ms-1">Add a Beam</span>
          </button>
          {{ beam_formset.management_form }}
          {% block beams %}
          {% endblock beams %}
          <button class="mt-3 mb-2 btn btn-primary" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
{% block javascript %}
  <script type="text/javascript">
  const beamTemplateForm = `{% for form in beam_template_form %}
  {% include "./forms/beam_form.html" with form=form loop_idx=forloop.counter0 %}
  {% endfor %}`
  </script>
  {% compress js %}
    <script src="{% static 'js/beam-forms.js'%}"></script>
  {% endcompress %}
{% endblock javascript %}
