<fieldset id="form-beams-{{ loop_idx }}"
          class="border rounded p-3 mb-4 beam-form fade show"
          data-idx="{{ loop_idx }}">
  <legend class="h5">
    #{{ loop_idx|add:"1" }}
  </legend>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-3 d-flex order-lg-2">
        {% block buttons %}
        {% endblock buttons %}
      </div>
      <div class="col-12 col-lg-9 order-lg-1 position-relative">
        {% block delete_overlay %}
        {% endblock delete_overlay %}
        {% for field in form.hidden_fields %}{{ field }}{% endfor %}
        {% for field in form.visible_fields %}
          {% if field.errors %}<div class="alert-danger field-errors">{{ field.errors }}</div>{% endif %}
          <div class="form-floating mb-3">
            {{ field }}
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</fieldset>
