{% extends "coordinations/forms/beam_form_base.html" %}
{% block buttons %}
  <button data-parent-form="form-beams-{{ loop_idx }}"
          type="button"
          class="mx-auto ms-lg-3 my-3 my-lg-auto btn d-block remove-beam-form-button">
    <svg xmlns="http://www.w3.org/2000/svg"
         width="25"
         height="25"
         fill="currentColor"
         class="bi bi-dash-circle"
         viewBox="0 0 16 16">
      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
      <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
    </svg>
    <span class="d-inline-block ms-1">Remove Beam</span>
  </button>
{% endblock buttons %}
