<table class="table table-striped align-middle">
  <thead>
    <tr>
      <th scope="col">Mission Name</th>
      <th scope="col">Supporting Organisation</th>
      <th class="d-none d-md-table-cell" scope="col">Application Date</th>
      <th scope="col">Details</th>
    </tr>
  </thead>
  <tbody>
    {% for coord in coordinations %}
      <tr>
        <td>
          <a href="{% url 'coordination-detail' coord.id %}{% if back %}?back={{ back }}{% endif %}">{{ coord.mission_name }}</a>
        </td>
        <td>{{ coord.supporting_organization }}</td>
        <td class="d-none d-md-table-cell">{{ coord.date|date:"M d, Y" }}</td>
        <td>
          <a href="{% url 'coordination-detail' coord.id %}{% if back %}?back={{ back }}{% endif %}"
             class="d-inline-block w-100 ps-3 text-decoration-none fs-3">></a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
