<div class="full-page-container-lg py-4">
  <h3 class="h3 card-title text-center mt-1 mb-3 fw-normal">Review Coordination</h3>
  <form action="{% url 'coordination-review' coord_id=coord.id %}{% if back %}?back={{ back }}{% endif %}"
        method="post">
    {% if form.non_field_errors %}
      <div class="alert alert-danger form-errors" role="alert">{{ form.non_field_errors }}</div>
    {% endif %}
    {% csrf_token %}
    {% for field in form %}
      {% if field.errors %}<div class="alert-danger field-errors">{{ field.errors }}</div>{% endif %}
      <div class="form-floating mb-3">
        {{ field }}
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
      </div>
    {% endfor %}
    <button class="mt-3 btn btn-primary" type="submit">Submit</button>
  </form>
</div>
