.navbar-brand {
    font-size: 1.75rem;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.nav-link-underline {

    &:hover {
        text-decoration: underline;
    }
}

.nav-active {
    @extend .border-bottom;
    @extend .border-2;
    @extend .border-primary;
}
